service: nd12-win-prem

provider:
  name: azure
  prefix: tmp
  stage: qa
  region: Central US
  runtime: nodejs12
  os: windows
  apim: true
  type: premium

  environment:
    VARIABLE_FOO: 'foo'

plugins:
  - serverless-azure-functions

package:
  exclude:
    - local.settings.json
    - .vscode/**

functions:
  hello:
    handler: hello.sayHello
    events:
      - http: true
        methods:
          - GET
        authLevel: anonymous

 